@model AddPlayerModel
@using NewCBS.Core

@Html.ValidationMessage("invite","", new { @class = "text-danger"})
<form method="post" asp-action="InvitePlayer">
    <div hidden>
        <input asp-for="ID" value="@Model.ID" type="number" />
    </div>
    <input list="playernames" asp-for="name" type="text" />
    <input type="submit" value="Invite player to tournement" />
</form>

<datalist id="playernames">
    @foreach (string name in Model.players)
    {
        <option value="@name"></option>
    }
</datalist>