
<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />

<div class="window">
    <div class="background">
        <div class="backgroundContainer">
            <div class="navigation">
                <a class="selected" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Player" asp-action="Index">Players</a>
                <a asp-controller="Tournament" asp-action="Index">Tournaments</a>
            </div>
            <div class="text">
                Host your next competitive chess tournament with ease and connect with a community of passionate players!
            </div>
            <div class="joinnow">
                Join now
            </div>
        </div>

        <div class="backgroundContainer">
            <div>
                image
            <div>
        </div>
    </div>
</div>