<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - NewCBS.View</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/NewCBS.View.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap">
    </head>
    <body>
        <div id="container" class="window">
            <img class="background" src="~/28_5ab1ebd2-256c-4e7a-9479-91970ff76334_1024x1024.webp" alt="Your Image"/>
            <div class="background" id="overlay">
            </div>
            <div class="contentContainer">
                <div class="navigation">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Tournements" asp-action="Index">Tournements</a>
                    <a asp-controller="Player" asp-action="Index">Players</a>
                </div>
                <div class="container">
                    <main>
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
