@model AddPlayerModel
@using NewCBS.Core
@using NewCBS.Dal


<div>
    <form method="post" asp-controller="Player" asp-action="AddPlayer">
        <input asp-for="name" type="text"/>
        <input asp-for="rating" type="number" />
        <input type="submit" value="add player"/>
    </form>
</div>