@model PlayersModel
@using NewCBS.Core

<div>
    <div>
        @foreach (Player player in Model.players){
            <div>
                <div>@player.Name</div>
                <div> @player.Ranking</div>
            </div>
        }
    </div>
</div>