form {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 40%;
    height: 70%;
    justify-content: center;
}

.inputContainer {
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(100,100,100,0.3);
    justify-content: center;
}

    .inputContainer input {
        text-align: center;
        height: 5%;
        height: 38px;
    }

    .inputContainer label {
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

.checkmark-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkmark-input {
    display: none;
}

.checkmark-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    background-color: white;
    color: black;
}
.select {
    text-align: center;
    height: 38px;
}
.submit-button {
    align-items: center;
    color: white;
    justify-content: center;
    background: none;
    border: none;
    font-size: 1.4em;
}

    .submit-button:hover {
        color: #B48C65;
    }