html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.backgroundContainer div, form, input {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 5px;
}